<div class="header-wrapper">
  <div class="buttons-container">
    <div class="button-container" *ngIf="!onAboutPage()">
      <button mat-raised-button (click)="goToAboutPage()">About</button>
    </div>
    <div class="button-container" *ngIf="notOnLoginPage() && userLogedIn()">
      <button mat-raised-button (click)="logout()">Log out</button>
    </div>
    <div class="button-container" *ngIf="onAboutPage() && !userLogedIn()">
      <button mat-raised-button (click)="goToLogin()">Log in</button>
    </div>

    <div
      class="button-container"
      *ngIf="userLogedIn() && isAdmin() && !onAdminPage()"
    >
      <button mat-raised-button (click)="goToAdminPanel()">Admin panel</button>
    </div>
    <div class="button-container" *ngIf="userLogedIn() && !onHomePage()">
      <button mat-raised-button (click)="goToDashboard()">Dashboard</button>
    </div>
  </div>
</div>
