table {
  width: 700px;
  margin: 0 auto;
}

.title {
  width: 150px;
  margin: 50px auto 20px auto;
  text-align: center;
}

.button-container {
  width: 200px;
}

button {
  width: 100%;
}

.main-button-container {
  margin: 0 auto 20px auto;
  width: 200px;
}
