.is-invalid {
  border: 1px solid red;
}

.form-container {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  font-size: 14px;
}

mat-form-field {
  display: block;
}

button {
  width: 100%;
}
