<div class="form-container">
  <mat-form-field appearance="outline">
    <mat-label>Enter your email</mat-label>
    <input
      matInput
      placeholder="pat@example.com"
      type="email"
      [formControl]="email"
      required
      ngModel
      email
    />
    <mat-error *ngIf="email.invalid">
      please, enter valid email address
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Enter your password</mat-label>
    <input
      matInput
      placeholder="password"
      [type]="hide ? 'password' : 'text'"
      [formControl]="password"
    />
    <button
      mat-icon-button
      matSuffix
      (click)="hide = !hide"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide"
      class="hide-button"
    >
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
    <mat-error *ngIf="password.invalid">
      please, enter valid password
    </mat-error>
  </mat-form-field>
  <div class="error-wrapper" *ngIf="loginError$ | async">
    email or password is incorrect
  </div>

  <button mat-raised-button (click)="onSubmit()" class="login-button">
    Login
  </button>
  <div *ngIf="loading$ | async" class="loader-wrap">
    <mat-progress-bar mode="buffer"></mat-progress-bar>
  </div>
</div>
