.dashboard-wrapper {
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;
  /* border: 1px solid green; */
}

.lable-container {
  width: 100px;
  /* border: 1px solid blue; */
}

.table-container {
  width: 350px;
  /* border: 1px solid violet; */
}

.button-container {
  width: 100px;
  margin-top: 10px;
  /*border: 1px solid orange;*/
}

button {
  width: 100%;
}

td {
  border: 1px solid black;
}
