<!-- <app-header></app-header> -->

<!-- <table mat-table [dataSource]="userAssessments" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let assessment">{{ assessment.id }}</td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>NAME</th>
    <td mat-cell *matCellDef="let assessment">{{ assessment.name }}</td>
  </ng-container>

  <ng-container matColumnDef="active">
    <th mat-header-cell *matHeaderCellDef>ACTIVE</th>
    <td mat-cell *matCellDef="let assessment">{{ assessment.active }}</td>
  </ng-container>

  <ng-container matColumnDef="users_resolved">
    <th mat-header-cell *matHeaderCellDef>USERS RESOLVED</th>
    <td mat-cell *matCellDef="let assessment">
      {{ assessment.users_resolved }}
    </td>
  </ng-container>

  <ng-container matColumnDef="image">
    <th mat-header-cell *matHeaderCellDef>IMAGE</th>
    <td mat-cell *matCellDef="let assessment">
      <img src="assessment.image_url" />
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table> -->
<div class="title">
  <h3>Your assessments</h3>
</div>

<table
  mat-table
  [dataSource]="userAssessments"
  multiTemplateDataRows
  class="mat-elevation-z8"
>
  <ng-container
    matColumnDef="{{ column }}"
    *ngFor="let column of displayedColumns"
  >
    <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
    <td mat-cell *matCellDef="let assessment">{{ assessment[column] }}</td>
  </ng-container>
  <ng-container matColumnDef="expand">
    <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
    <td mat-cell *matCellDef="let assessment">
      <button
        mat-icon-button
        aria-label="expand row"
        (click)="
          expandedElement = expandedElement === assessment ? null : assessment;
          $event.stopPropagation();
          getReport(assessment.id)
        "
      >
        <mat-icon *ngIf="expandedElement !== assessment"
          >keyboard_arrow_down</mat-icon
        >
        <mat-icon *ngIf="expandedElement === assessment"
          >keyboard_arrow_up</mat-icon
        >
      </button>
    </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td
      mat-cell
      *matCellDef="let assessment"
      [attr.colspan]="displayedColumnsWithExpand.length"
    >
      <div
        class="example-element-detail"
        [@detailExpand]="
          assessment == expandedElement ? 'expanded' : 'collapsed'
        "
      >
        <canvas id="chart" width="200" height="200"></canvas>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumnsWithExpand"></tr>
  <tr
    mat-row
    *matRowDef="let assessment; columns: displayedColumnsWithExpand"
    class="example-element-row"
    [class.example-expanded-row]="expandedElement === assessment"
    (click)="
      expandedElement = expandedElement === assessment ? null : assessment;
      getReport(assessment.id)
    "
  ></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: ['expandedDetail']"
    class="example-detail-row"
  ></tr>
</table>

<!-- <div class="table-container">
  <table>
    <tr *ngFor="let assessment of userAssessments">
      <td>{{ assessment.id }}</td>
      <td>{{ assessment.name }}</td>
      <td>{{ assessment.active }}</td>
      <td>{{ assessment.users_resolved }}</td>
      <td><img src="assessment.image_url" /></td>
      <td><button (click)="getReport(assessment.id)">Get report</button></td>
    </tr>
  </table>
</div>
</div> -->
